@model categories

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.description.</p>
    </div>
   
    <div class="card-body">
        <a href="/category/GetAll" class="card-link">Back</a>

    </div>
</div>


